src/pages/category.pug
extends includes/layout

block vars
	-
		var title = "Category"
		var advantages = [
			{
				title: 'Небольшие сроки',
				icon: '/assets/images/sub_advantage_1.svg',
				desc: 'Объединение Польши и Литвы в одно государство сделало возможным их совместные контрнаступательные действия. ' +
								'России с трудом удалось отстоять Псков.'
			},
			{
				title: 'Оптимальная стоимость',
				icon: '/assets/images/sub_advantage_2.svg',
				desc: 'Объединение Польши и Литвы в одно государство сделало возможным их совместные контрнаступательные действия. ' +
								'России с трудом удалось отстоять Псков.'
			},
			{
				title: 'Оформление документов',
				icon: '/assets/images/sub_advantage_3.svg',
				desc: 'Объединение Польши и Литвы в одно государство сделало возможным их совместные контрнаступательные действия. ' +
								'России с трудом удалось отстоять Псков.'
			},
			{
				title: 'Работаем 24/7',
				icon: '/assets/images/sub_advantage_4.svg',
				desc: 'Объединение Польши и Литвы в одно государство сделало возможным их совместные контрнаступательные действия. ' +
								'России с трудом удалось отстоять Псков.'
			}
		]

append content
	main#category-page
		section.category-main-section
			.section-bg
				img(src="/assets/images/default.jpeg" alt="background")
			.container
				.breadcrumb(data-aos="show-up-20")
					a.breadcrumb-item(href="/") Главная
					a.breadcrumb-item(href="/category.html") Автоматические ворота
				.row
					.col-12.col-lg-6
						h1.section-title(data-aos="show-up-20" data-aos-delay="200") Автоматические ворота
						p.section-sub-title(data-aos="show-up-20" data-aos-delay="400")
							| Для современного мира семантический разбор внешних противодействий является качественно новой ступенью
							| своевременного выполнения сверхзадачи.
						button.custom-btn.secondary(type="button" data-toggle="modal" data-target="#feedback" data-aos="show-up-20" data-aos-delay="600")
							span Получить консультацию
					.col-12.offset-lg-2.col-lg-4
						.sub-categories(data-aos="show-up-20" data-aos-delay="400")
							a.sub-category-link(href="/sub-category.html")
								span Секционные бытовые
							a.sub-category-link(href="/sub-category.html")
								span Секционные промышленные
							a.sub-category-link(href="/sub-category.html")
								span Въездные
		section.sub-category-section
			.container
				.row
					.col-12
						.row
							.col-12.col-lg-6.p-0
								.sub-category-slider.sub-category-slider_big(data-aos="clip-right")
									.sub-category-slider__slide.sub-category-slider_big__slide
										.sub-category-slider__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_big__slide
										.sub-category-slider__image.sub-category-slider_big__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_big__slide
										.sub-category-slider__image.sub-category-slider_big__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_big__slide
										.sub-category-slider__image.sub-category-slider_big__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
								.sub-category-slider.sub-category-slider_small(data-aos="clip-right")
									.sub-category-slider__slide.sub-category-slider_small__slide
										.sub-category-slider__image.sub-category-slider_small__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_small__slide
										.sub-category-slider__image.sub-category-slider_small__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_small__slide
										.sub-category-slider__image.sub-category-slider_small__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_small__slide
										.sub-category-slider__image.sub-category-slider_small__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
							.col-12.col-lg-6
								.sub-category__info
									h3.sub-category__title(data-aos="show-up-20" data-aos-delay="200") Уточнение границ земельного участка
									p.sub-category__desc(data-aos="show-up-20" data-aos-delay="400")
										| Для современного мира семантический разбор внешних противодействий является качественно новой ступенью
										| своевременного выполнения сверхзадачи. Для современного мира семантический разбор внешних противодействий
										| является качественно новой ступенью своевременного выполнения сверхзадачи.
									a.custom-btn.secondary(href="/sub-category.html" data-aos="show-up-20" data-aos-delay="600")
										span Подробнее
		section.sub-category-section
			.container
				.row
					.col-12
						.row
							.col-12.col-lg-6.p-0
								.sub-category-slider.sub-category-slider_big(data-aos="clip-right")
									.sub-category-slider__slide.sub-category-slider_big__slide
										.sub-category-slider__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_big__slide
										.sub-category-slider__image.sub-category-slider_big__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_big__slide
										.sub-category-slider__image.sub-category-slider_big__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_big__slide
										.sub-category-slider__image.sub-category-slider_big__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
								.sub-category-slider.sub-category-slider_small(data-aos="clip-right")
									.sub-category-slider__slide.sub-category-slider_small__slide
										.sub-category-slider__image.sub-category-slider_small__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_small__slide
										.sub-category-slider__image.sub-category-slider_small__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_small__slide
										.sub-category-slider__image.sub-category-slider_small__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_small__slide
										.sub-category-slider__image.sub-category-slider_small__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
							.col-12.col-lg-6
								.sub-category__info
									h3.sub-category__title(data-aos="show-up-20" data-aos-delay="200") Уточнение границ земельного участка
									p.sub-category__desc(data-aos="show-up-20" data-aos-delay="400")
										| Для современного мира семантический разбор внешних противодействий является качественно новой ступенью
										| своевременного выполнения сверхзадачи. Для современного мира семантический разбор внешних противодействий
										| является качественно новой ступенью своевременного выполнения сверхзадачи.
									a.custom-btn.secondary(href="/sub-category.html" data-aos="show-up-20" data-aos-delay="600")
										span Подробнее
		section.consultation-section
			.container
				.row
					.col-12.col-lg-7
						.consultation-section__info(data-aos="clip-right")
							h2.consultation-section__title(data-aos="show-up-20" data-aos-delay="400") Нужна консультация?
							p.consultation-section__desc(data-aos="show-up-20" data-aos-delay="600") Наши консультанты помогут с выбором и назовут точную стоимость. Звоните:
							div(data-aos="show-up-20" data-aos-delay="600")
								a.consultation-section__phone(href="tel:+38 (096) 123 45 67")
									| +38 (096) 123 45 67
							button.custom-btn.inverse(type="button" data-toggle="modal" data-target="#feedback" data-aos="show-up-20" data-aos-delay="800")
								span Перезвоните мне
					.col-12.col-lg-5
						.consultation-section__image(data-aos="clip-right" data-aos-delay="400")
							img(src="/assets/images/default.jpeg" alt="consultation")

dist/category.html
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Category</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1" />
		<link rel="preload" href="https://cdnjs.cloudflare.com" />
		<link rel="preload" href="/assets/fonts/ProximaNova-Bold.woff" as="font" type="font/woff" />
		<link rel="preload" href="/assets/fonts/ProximaNova-Regular.woff" as="font" type="font/woff" />
		<link rel="preload" href="/assets/fonts/ProximaNova-Semibold.woff" as="font" type="font/woff" />
		<link rel="preload" href="/assets/fonts/ProximaNova-Bold.eot" as="font" type="font/eot" />
		<link rel="preload" href="/assets/fonts/ProximaNova-Regular.eot" as="font" type="font/eot" />
		<link rel="preload" href="/assets/fonts/ProximaNova-Semibold.eot" as="font" type="font/eot" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
			crossorigin="anonymous"
			integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
			crossorigin="anonymous"
			integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
			crossorigin="anonymous"
			integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
			integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
			crossorigin="anonymous"
		/>
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<script type="application/ld+json">
			{
				"@context": "https://schema.org/",
				"@type": "BreadcrumbList",
				"itemListElement": [
					{
						"@type": "ListItem",
						"position": 1,
						"name": "vorota",
						"item": "http://aludis.comnd-x.com/category/vorota/"
					},
					{
						"@type": "ListItem",
						"position": 2,
						"name": "rollety",
						"item": "http://aludis.comnd-x.com/category/rollety/"
					},
					{
						"@type": "ListItem",
						"position": 3,
						"name": "avtomatika",
						"item": "http://aludis.comnd-x.com/category/avtomatika/"
					},
					{
						"@type": "ListItem",
						"position": 4,
						"name": "kontakty",
						"item": "http://aludis.comnd-x.com/kontakty/"
					}
				]
			}
		</script>
		<script type="application/ld+json">
			{
				"@type": "Organization",
				"@context": "https://schema.org",
				"url": "http://aludis.comnd-x.com",
				"logo": "http://aludis.comnd-x.com/wp-content/themes/aludis_theme/assets/images/logo.svg"
			}
		</script>
		<script type="application/ld+json">
			{
				"name": "Aludis",
				"@id": "http://aludis.com.ua",
				"address": {
					"@type": "PostalAddress",
					"streetAddress": "с. Лиманка, ЖМ Черноморка-2, ул. Овидиопольская 1/21",
					"addressLocality": "Ukraine",
					"addressRegion": "UA",
					"postalCode": "65000",
					"addressCountry": "UA"
				},
				"@context": "https://schema.org",
				"@type": "Organisation",
				"geo": {
					"@type": "GeoCoordinates",
					"latitude": 46.447387,
					"longitude": 30.6464166
				},
				"url": "http://aludis.com.ua/kontakty/",
				"telephone": "+38 (068) 607 81 47",
				"openingHoursSpecification": [
					{
						"@type": "OpeningHoursSpecification",
						"dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
						"opens": "09:00",
						"closes": "18:00"
					}
				]
			}
		</script>
		<link rel="icon" href="/favicon.ico" />
		<link href="/styles/main.css" rel="stylesheet" />
	</head>
</html>
<body>
	<header class="header">
		<div class="container">
			<div class="header__row">
				<div class="header__actions">
					<div class="header__menu d-flex d-lg-none" data-aos="show-up-20" data-aos-delay="200">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<a class="header__logo" href="/" data-aos="show-up-20" data-aos-delay="400"><img src="/assets/images/logo.svg" alt="Logo" /></a>
					<ul class="header__links-list d-none d-lg-flex" data-aos="show-up-20" data-aos-delay="600">
						<li class="header__links-item">
							<a class="header__link" href="/category.html">
								<span>Ворота</span>
								<img class="svg" src="/assets/images/link_arrow.svg" />
							</a>
							<div class="header__sub-category-list">
								<a class="header__sub-category-link" href="/">Подкатегория 1</a>
								<a class="header__sub-category-link" href="/">Подкатегория 2</a>
								<a class="header__sub-category-link" href="/">Подкатегория 3</a>
								<a class="header__sub-category-link" href="/">Подкатегория 4</a>
								<a class="header__sub-category-link" href="/">Подкатегория 5</a>
							</div>
						</li>
						<li class="header__links-item">
							<a class="header__link" href="/category.html">
								<span>Роллеты</span>
								<img class="svg" src="/assets/images/link_arrow.svg" />
							</a>
							<div class="header__sub-category-list">
								<a class="header__sub-category-link" href="/">Подкатегория 1</a>
								<a class="header__sub-category-link" href="/">Подкатегория 2</a>
								<a class="header__sub-category-link" href="/">Подкатегория 3</a>
								<a class="header__sub-category-link" href="/">Подкатегория 4</a>
								<a class="header__sub-category-link" href="/">Подкатегория 5</a>
							</div>
						</li>
						<li class="header__links-item">
							<a class="header__link" href="/category.html">
								<span>Автоматика</span>
								<img class="svg" src="/assets/images/link_arrow.svg" />
							</a>
							<div class="header__sub-category-list">
								<a class="header__sub-category-link" href="/">Подкатегория 1</a>
								<a class="header__sub-category-link" href="/">Подкатегория 2</a>
								<a class="header__sub-category-link" href="/">Подкатегория 3</a>
								<a class="header__sub-category-link" href="/">Подкатегория 4</a>
								<a class="header__sub-category-link" href="/">Подкатегория 5</a>
							</div>
						</li>
						<li class="header__links-item">
							<a class="header__link" href="/contacts.html"><span>Контакты</span></a>
						</li>
					</ul>
					<a class="header__call d-flex d-lg-none" href="tel: +38 (096) 320 12 99" data-aos="show-up-20" data-aos-delay="600">
						<img class="svg" src="/assets/images/call_mobile.svg" alt="Feedback" />
					</a>
				</div>
				<div class="header__actions d-none d-lg-flex">
					<a class="header__call" href="mailto:office.hordis@gmail.com" data-aos="show-up-20" data-aos-delay="800">
						<img class="svg" src="/assets/images/mail.svg" alt="Mail" />
						<span>office.hordis@gmail.com</span>
					</a>
					<a class="header__call" href="tel: +38 (096) 320 12 99" data-aos="show-up-20" data-aos-delay="1000">
						<img class="svg" src="/assets/images/call.svg" alt="Mail" />
						<span>+38 (096) 320 12 99</span>
					</a>
				</div>
			</div>
		</div>
	</header>
	<main id="category-page">
		<section class="category-main-section">
			<div class="section-bg"><img src="/assets/images/default.jpeg" alt="background" /></div>
			<div class="container">
				<div class="breadcrumb" data-aos="show-up-20">
					<a class="breadcrumb-item" href="/">Главная</a>
					<a class="breadcrumb-item" href="/category.html">Автоматические ворота</a>
				</div>
				<div class="row">
					<div class="col-12 col-lg-6">
						<h1 class="section-title" data-aos="show-up-20" data-aos-delay="200">Автоматические ворота</h1>
						<p class="section-sub-title" data-aos="show-up-20" data-aos-delay="400">
							Для современного мира семантический разбор внешних противодействий является качественно новой ступенью своевременного выполнения
							сверхзадачи.
						</p>
						<button
							class="custom-btn secondary"
							type="button"
							data-toggle="modal"
							data-target="#feedback"
							data-aos="show-up-20"
							data-aos-delay="600"
						>
							<span>Получить консультацию</span>
						</button>
					</div>
					<div class="col-12 offset-lg-2 col-lg-4">
						<div class="sub-categories" data-aos="show-up-20" data-aos-delay="400">
							<a class="sub-category-link" href="/sub-category.html"><span>Секционные бытовые</span></a>
							<a class="sub-category-link" href="/sub-category.html"><span>Секционные промышленные</span></a>
							<a class="sub-category-link" href="/sub-category.html"><span>Въездные</span></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="sub-category-section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-12 col-lg-6 p-0">
								<div class="sub-category-slider sub-category-slider_big" data-aos="clip-right">
									<div class="sub-category-slider__slide sub-category-slider_big__slide">
										<div class="sub-category-slider__image"><img src="/assets/images/default.jpeg" alt="subcategory" /></div>
									</div>
									<div class="sub-category-slider__slide sub-category-slider_big__slide">
										<div class="sub-category-slider__image sub-category-slider_big__image">
											<img src="/assets/images/default.jpeg" alt="subcategory" />
										</div>
									</div>
									<div class="sub-category-slider__slide sub-category-slider_big__slide">
										<div class="sub-category-slider__image sub-category-slider_big__image">
											<img src="/assets/images/default.jpeg" alt="subcategory" />
										</div>
									</div>
									<div class="sub-category-slider__slide sub-category-slider_big__slide">
										<div class="sub-category-slider__image sub-category-slider_big__image">
											<img src="/assets/images/default.jpeg" alt="subcategory" />
										</div>
									</div>
								</div>
								<div class="sub-category-slider sub-category-slider_small" data-aos="clip-right">
									<div class="sub-category-slider__slide sub-category-slider_small__slide">
										<div class="sub-category-slider__image sub-category-slider_small__image">
											<img src="/assets/images/default.jpeg" alt="subcategory" />
										</div>
									</div>
									<div class="sub-category-slider__slide sub-category-slider_small__slide">
										<div class="sub-category-slider__image sub-category-slider_small__image">
											<img src="/assets/images/default.jpeg" alt="subcategory" />
										</div>
									</div>
									<div class="sub-category-slider__slide sub-category-slider_small__slide">
										<div class="sub-category-slider__image sub-category-slider_small__image">
											<img src="/assets/images/default.jpeg" alt="subcategory" />
										</div>
									</div>
									<div class="sub-category-slider__slide sub-category-slider_small__slide">
										<div class="sub-category-slider__image sub-category-slider_small__image">
											<img src="/assets/images/default.jpeg" alt="subcategory" />
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-6">
								<div class="sub-category__info">
									<h3 class="sub-category__title" data-aos="show-up-20" data-aos-delay="200">Уточнение границ земельного участка</h3>
									<p class="sub-category__desc" data-aos="show-up-20" data-aos-delay="400">
										Для современного мира семантический разбор внешних противодействий является качественно новой ступенью своевременного
										выполнения сверхзадачи. Для современного мира семантический разбор внешних противодействий является качественно новой
										ступенью своевременного выполнения сверхзадачи.
									</p>
									<a class="custom-btn secondary" href="/sub-category.html" data-aos="show-up-20" data-aos-delay="600">
										<span>Подробнее</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="sub-category-section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-12 col-lg-6 p-0">
								<div class="sub-category-slider sub-category-slider_big" data-aos="clip-right">
									<div class="sub-category-slider__slide sub-category-slider_big__slide">
										<div class="sub-category-slider__image"><img src="/assets/images/default.jpeg" alt="subcategory" /></div>
									</div>
									<div class="sub-category-slider__slide sub-category-slider_big__slide">
										<div class="sub-category-slider__image sub-category-slider_big__image">
											<img src="/assets/images/default.jpeg" alt="subcategory" />
										</div>
									</div>
									<div class="sub-category-slider__slide sub-category-slider_big__slide">
										<div class="sub-category-slider__image sub-category-slider_big__image">
											<img src="/assets/images/default.jpeg" alt="subcategory" />
										</div>
									</div>
									<div class="sub-category-slider__slide sub-category-slider_big__slide">
										<div class="sub-category-slider__image sub-category-slider_big__image">
											<img src="/assets/images/default.jpeg" alt="subcategory" />
										</div>
									</div>
								</div>
								<div class="sub-category-slider sub-category-slider_small" data-aos="clip-right">
									<div class="sub-category-slider__slide sub-category-slider_small__slide">
										<div class="sub-category-slider__image sub-category-slider_small__image">
											<img src="/assets/images/default.jpeg" alt="subcategory" />
										</div>
									</div>
									<div class="sub-category-slider__slide sub-category-slider_small__slide">
										<div class="sub-category-slider__image sub-category-slider_small__image">
											<img src="/assets/images/default.jpeg" alt="subcategory" />
										</div>
									</div>
									<div class="sub-category-slider__slide sub-category-slider_small__slide">
										<div class="sub-category-slider__image sub-category-slider_small__image">
											<img src="/assets/images/default.jpeg" alt="subcategory" />
										</div>
									</div>
									<div class="sub-category-slider__slide sub-category-slider_small__slide">
										<div class="sub-category-slider__image sub-category-slider_small__image">
											<img src="/assets/images/default.jpeg" alt="subcategory" />
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-6">
								<div class="sub-category__info">
									<h3 class="sub-category__title" data-aos="show-up-20" data-aos-delay="200">Уточнение границ земельного участка</h3>
									<p class="sub-category__desc" data-aos="show-up-20" data-aos-delay="400">
										Для современного мира семантический разбор внешних противодействий является качественно новой ступенью своевременного
										выполнения сверхзадачи. Для современного мира семантический разбор внешних противодействий является качественно новой
										ступенью своевременного выполнения сверхзадачи.
									</p>
									<a class="custom-btn secondary" href="/sub-category.html" data-aos="show-up-20" data-aos-delay="600">
										<span>Подробнее</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="consultation-section">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-7">
						<div class="consultation-section__info" data-aos="clip-right">
							<h2 class="consultation-section__title" data-aos="show-up-20" data-aos-delay="400">Нужна консультация?</h2>
							<p class="consultation-section__desc" data-aos="show-up-20" data-aos-delay="600">
								Наши консультанты помогут с выбором и назовут точную стоимость. Звоните:
							</p>
							<div data-aos="show-up-20" data-aos-delay="600">
								<a class="consultation-section__phone" href="tel:+38 (096) 123 45 67">+38 (096) 123 45 67</a>
							</div>
							<button
								class="custom-btn inverse"
								type="button"
								data-toggle="modal"
								data-target="#feedback"
								data-aos="show-up-20"
								data-aos-delay="800"
							>
								<span>Перезвоните мне</span>
							</button>
						</div>
					</div>
					<div class="col-12 col-lg-5">
						<div class="consultation-section__image" data-aos="clip-right" data-aos-delay="400">
							<img src="/assets/images/default.jpeg" alt="consultation" />
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-4 col-lg-2">
					<div class="footer__content">
						<a class="footer__logo" href="/" data-aos="show-up-20"><img src="/assets/images/logo_footer.svg" alt="Logo" /></a>
						<div class="footer__socials-wrap d-flex d-lg-none" data-aos="show-up-20" data-aos-delay="200" data-aos-anchor=".footer">
							<a class="footer__social" href="/"><img src="/assets/images/instagram.svg" alt="instagram" /></a>
							<a class="footer__social" href="/"><img src="/assets/images/facebook.svg" alt="facebook" /></a>
						</div>
					</div>
				</div>
				<div class="col-3 d-none d-lg-block">
					<div class="footer__links-wrap" data-aos="show-up-20" data-aos-delay="400" data-aos-anchor=".footer">
						<a class="footer__link" href="/category.html">Ворота</a>
						<a class="footer__link" href="/category.html">Автоматика</a>
						<a class="footer__link" href="/category.html">Роллеты</a>
						<a class="footer__link" href="/contacts.html">Контакты</a>
					</div>
				</div>
				<div class="col-8 col-lg-5">
					<div class="footer__contacts-wrap">
						<div class="footer__content" data-aos="show-up-20" data-aos-delay="600" data-aos-anchor=".footer">
							<a class="footer__contact-link" href="tel:8 (965) 763 07 05">
								<img src="/assets/images/call_footer.svg" alt="phone" />
								<span>8 (965) 763 07 05</span>
							</a>
							<a class="footer__contact-link" href="tel:8 (965) 763 07 05">
								<img src="/assets/images/viber.svg" alt="viber" />
								<span>8 (965) 763 07 05</span>
							</a>
						</div>
						<div class="footer__content" data-aos="show-up-20" data-aos-delay="800" data-aos-anchor=".footer">
							<a class="footer__contact-link" href="mailto:office.hordis@gmail.com">
								<img src="/assets/images/mail_footer.svg" alt="mail" />
								<span>office.hordis@gmail.com</span>
							</a>
							<a class="footer__contact-link mb-0" href="/">
								<img src="/assets/images/geo.svg" alt="geo" />
								<span>г. Одесса, ул. Пушкинская 123</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-2 d-none d-lg-block">
					<div class="footer__socials-wrap" data-aos="show-up-20" data-aos-delay="1000" data-aos-anchor=".footer">
						<a class="footer__social" href="/"><img src="/assets/images/instagram.svg" alt="instagram" /></a>
						<a class="footer__social" href="/"><img src="/assets/images/facebook.svg" alt="facebook" /></a>
					</div>
				</div>
				<div class="col-12">
					<div class="copyright-wrap">
						<p class="copyright-text" data-aos="show-up-20" data-aos-delay="1200" data-aos-anchor=".footer">Aludis © 2020</p>
						<a class="copyright-text" href="/" data-aos="show-up-20" data-aos-delay="1400" data-aos-anchor=".footer">by Command+X</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div class="global-menu">
		<ul class="global-menu__links-list">
			<li class="global-menu__links-item">
				<div class="global-menu__link">
					<a href="/category.html">Ворота</a>
					<img src="/assets/images/link_arrow.svg" alt="link" />
				</div>
				<div class="global-menu__sub-wrap">
					<div class="global-menu__sub-list">
						<a class="global-menu__sub-link" href="/">Подкатегория 1</a>
						<a class="global-menu__sub-link" href="/">Подкатегория 2</a>
						<a class="global-menu__sub-link" href="/">Подкатегория 3</a>
					</div>
				</div>
			</li>
			<li class="global-menu__links-item">
				<div class="global-menu__link">
					<a href="/category.html">Роллеты</a>
					<img src="/assets/images/link_arrow.svg" alt="link" />
				</div>
				<div class="global-menu__sub-wrap">
					<div class="global-menu__sub-list">
						<a class="global-menu__sub-link" href="/">Подкатегория 1</a>
						<a class="global-menu__sub-link" href="/">Подкатегория 2</a>
						<a class="global-menu__sub-link" href="/">Подкатегория 3</a>
					</div>
				</div>
			</li>
			<li class="global-menu__links-item">
				<div class="global-menu__link">
					<a href="/category.html">Автоматика</a>
					<img src="/assets/images/link_arrow.svg" alt="link" />
				</div>
				<div class="global-menu__sub-wrap">
					<div class="global-menu__sub-list">
						<a class="global-menu__sub-link" href="/">Подкатегория 1</a>
						<a class="global-menu__sub-link" href="/">Подкатегория 2</a>
						<a class="global-menu__sub-link" href="/">Подкатегория 3</a>
					</div>
				</div>
			</li>
			<li class="global-menu__links-item">
				<div class="global-menu__link"><a href="/contacts.html">Контакты</a></div>
			</li>
		</ul>
		<a class="global-menu__contact-link" href="mailto:office.hordis@gmail.com">
			<img src="/assets/images/mail_footer.svg" alt="mail" />
			<span>office.hordis@gmail.com</span>
		</a>
	</div>
	<div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button class="modal-close" data-dismiss="modal"><img src="/assets/images/close.svg" alt="close" /></button>
				</div>
				<div class="modal-body">
					<h3 class="modal-title">Бесплатная консультация</h3>
					<p class="modal-sub-title">Оставьте свои контакты, опишите тему вопроса и наш менеджер проконсультирует вас в ближайшее время</p>
					<form class="form" id="feedback-modal-form" method="POST" action="/">
						<div class="form-group"><input class="form-control" name="name" placeholder="Имя" required /></div>
						<div class="form-group"><input class="form-control" type="tel" name="phone" placeholder="Номер телефона" required /></div>
						<div class="form-group"><input class="form-control" name="question" placeholder="Опишите вопрос" required /></div>
						<button class="custom-btn" type="submit"><span>Отправить заявку</span></button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button class="modal-close" data-dismiss="modal"><img src="/assets/images/close.svg" alt="close" /></button>
				</div>
				<div class="modal-body">
					<h3 class="modal-title">Спасибо, заявка принята!</h3>
					<p class="modal-sub-title">
						Наш менеджер свяжется с вами для дальнейшей консультации по интересующему вас вопросу в ближайшее время. Благодарим за доверие!
					</p>
				</div>
			</div>
		</div>
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
		crossorigin="anonymous"
		integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
	></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
		crossorigin="anonymous"
		integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
	></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
		crossorigin="anonymous"
		integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
	></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.9/inputmask/inputmask.min.js"
		crossorigin="anonymous"
		integrity="sha512-DVfS/GbZzLMmxBL/CW92N84eHP2Fq9d+r9RKbvctcvzISVfu+WvD+MCvbK9j8I6nVLrntGo3UUVrNFUDX0ukBw=="
	></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"
		crossorigin="anonymous"
		integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg=="
	></script>
	<script defer="defer" src="/js/main.bundle.js"></script>
</body>
